@import "./theme.scss";

html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  font-size: var(--app-font-size);
  font-weight: normal;
  font-style: normal;
  font-family: var(--app-font-family);
  line-height: 1.1;
  color: var(--text-color);
  background: var(--app-bgcolor);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-family: var(--app-font-family);
  margin: 0;
  width: 100%;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

::selection {
  background: var(--selection-bgcolor);
  color: var(--selection-color);
}

::-webkit-scrollbar {
  width: var(--scroll-width);

  &-track {
    background: var(--scroll-track-bgcolor);
  }

  &-thumb {
    background: var(--scroll-thumb-bgcolor);
  }

  &-thumb:hover {
    background: var(--scroll-thumb-hover-bgcolor);
  }
}

form {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
}

.h-100 {
  height: 100% !important;
}

.island {
  width: auto;
  max-width: var(--space10);
  padding: var(--space4);
  margin: 0;
  background-color: var(--color-paper);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-one);
}
