:root {
  --color-primary: #32639f;
  --color-secondary: #8c8c8c;
  --color-text: #343a40;
  --color-text-light: #838689;
  --color-background: #fff;
  --color-paper: #f3f4f7;
  --color-error: #f24b6a;
  --color-warn: #f2bc1b;
  --color-success: #8da632;
  --color-info: #3498db;
  --color-shadows: #bfbfbf;

  --space0: 0;
  --space1: 0.25rem;
  --space2: 0.5rem;
  --space3: 1rem;
  --space4: 1.5rem;
  --space5: 2rem;
  --space6: 3rem;
  --space7: 4rem;
  --space8: 8rem;
  --space9: 16rem;
  --space10: 32rem;
  --space11: 48rem;
  --space11: 64rem;

  --font-size-text: 1rem;
  --font-size-text-small: 0.8rem;
  --font-size-label: 1rem;
  --font-size-heading1: 4.25rem;
  --font-size-heading2: 3rem;
  --font-size-heading3: 1.8rem;
  --font-size-heading4: 1.5rem;
  --font-size-heading5: 1.3rem;
  --font-size-heading6: 1.1rem;

  --font-weight-lighter: 300;
  --font-weight-light: 400;
  --font-weight-normal: 500;
  --font-weight-bold: 600;
  --font-weight-bolder: 700;

  --letter-space-normal: normal;
  --letter-space-caps: 0.1em;

  --line-height: 1;
  --line-height1: 1.125;
  --line-height2: 1.25;
  --line-height3: 1.5;

  --shadow-one: 0 1px 2px 0 #bfbfbf;
  --shadow-two: 0 1px 4px 0 #bfbfbf;

  --transition: 0.2s ease-out;
  --border-radius: 3px;

  // Application
  --app-accent-color: #32639f;
  --app-font-size: 16px;
  --app-font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --app-bgcolor: #202020;
  --app-border-color: #3b3f44;

  // Text
  --text-color: #f1f0f0;

  // Scrollbar
  --scroll-width: 10px;
  --scroll-track-bgcolor: #2f2f2f52;
  --scroll-thumb-bgcolor: rgba(59, 59, 59, 0.747);
  --scroll-thumb-hover-bgcolor: #555;

  // Selection
  --selection-bgcolor: var(--app-accent-color);
  --selection-color: #fff;

  // Button
  --button-color: #fff;
  --button-border: 1px solid #222424;
  --button-bgcolor: hsl(0, 0%, 22%);
  --button-hover-bgcolor: hsl(0, 0%, 24%);
  --button-active-bgcolor: hsl(0deg 0% 20%);
  --button-shadow-color: #00000078;

  // Titlebar
  --titlebar-bgcolor: hsl(0deg 0% 10%);
  --titlebar-color: hsl(0, 0%, 85%);
  --titlebar-title-color: hsl(0, 0%, 85%);
  --titlebar-menu-border-color: #2d2c2c;
  --titlebar-menu-title-hover-bgcolor: hsl(0deg 0% 12%);
  --titlebar-menu-title-active-bgcolor: hsl(0deg 0% 14%);
  --titlebar-menu-title-active-border-color: var(--titlebar-menu-border-color);
  --titlebar-menu-separator-bgcolor: var(--titlebar-menu-border-color);
  --titlebar-popup-bgcolor: hsl(0deg 0% 14%);
  --titlebar-popup-border: 1px solid var(--titlebar-menu-border-color);
  --titlebar-popup-shadow: 4px 10px 10px rgba(0, 0, 0, 0.2);
  --titlebar-popup-item-name-color: hsl(0, 0%, 75%);
  --titlebar-popup-item-shortcut-color: hsla(0, 0%, 55%, 0.8);
  --titlebar-popup-item-hover-color: hsl(0, 0%, 85%);
  --titlebar-popup-item-hover-bgcolor: hsl(0deg 0% 18%);
  --titlebar-popup-item-hover-shortcut-color: var(--app-accent-color);
  --titlebar-popup-item-name-shadow-color: #151515;
}

/*
 *=========================================================================
 * Light Theme
 *=========================================================================
 */

body:not(.dark-mode) {
  // Application
  --app-accent-color: #2f77ca;
  --app-bgcolor: #f1f0f0;

  // Text
  --text-color: #202020;

  // Selection
  --selection-bgcolor: var(--app-accent-color);
  --selection-color: #fff;

  // Scrollbar
  --scroll-track-bgcolor: #2f2f2f1f;
  --scroll-thumb-bgcolor: rgb(59 59 59 / 30%);
  --scroll-thumb-hover-bgcolor: var(--app-accent-color);

  // Button
  --button-border: 1px solid #eaeaea;
  --button-bgcolor: #fff;
  --button-color: #424242;
  --button-shadow-color: white;
  --button-hover-bgcolor: hsl(0, 0%, 98%);
  --button-active-bgcolor: hsl(0, 0%, 96%);

  // Titlebar
  --titlebar-bgcolor: #dcddde;
  --titlebar-color: #1f1f1f;
  --titlebar-title-color: var(--titlebar-color);
  --titlebar-menu-title-hover-bgcolor: #e6e6e6;
  --titlebar-popup-item-hover-bgcolor: hsl(210deg 16% 92%);
  --titlebar-popup-bgcolor: hsl(0deg 0% 99%);
  --titlebar-menu-title-active-bgcolor: hsl(0deg 0% 99%);
  --titlebar-menu-title-active-border-color: #d3d6d8;
  --titlebar-popup-border: 1px solid #d3d6d8;
  --titlebar-menu-separator-bgcolor: #d3d6d8;
  --titlebar-popup-item-hover-bgcolor: #d6dade;
  --titlebar-popup-item-name-color: #0e0e0e;
  --titlebar-popup-item-name-shadow-color: rgba(255, 255, 255, 0.8);
  --titlebar-popup-item-hover-color: #000000;
  --titlebar-popup-item-hover-shortcut-color: var(--app-accent-color);
  --titlebar-popup-item-hover-bgcolor: #e6e6e6;
}

$white: #ffffff;

$theme-colors: (
  "light": #f5f5f5,
  "dark": #4a4950,
  "primary": #32639f,
  "secondary": #b1f1e3,
  "info": #34d3eb,
  "success": #17c06e,
  "warning": #ecd213,
  "danger": #fe1a12,
);

@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";
